h1 {
    background-color: violet;
}
table {
font-family: Arial, sans-serif;
border-collapse: collapse;
width: 50%;
}

td, th {
border: 1px  solid#dddddd;
text-align: left;
padding: 8px;
}
tr:nth-child(even) {
background-color: #dddddd;

}
form {
width: 300px;
margin: 0 auto;
padding: 20px;
border: 1px solid#ccc;
}
input {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;

}